.section {
  width: 100%;
  padding: 100px 0;
  float: left;
  background-color: #ffffff;
}
/* Hero Photo */
.hero-photo-container img{
 width: 100%;
 height:100%;
 display: block;
 position: relative;
}


.type-overlay {
 width: 100%;
 position: absolute;
 top: 250px;
 margin-top:250px;
 z-index: 5;
 text-align: center;
 text-transform: uppercase;
 
}
.home{
  margin-top: 77px;
}

.home,
.his-life,
.discography,
.career-history,
.impact,
.contact{
  width: 100%;
  padding: 100px 0;
}


.gallery{
	float:left;
	background: url("../images/dark-honeycomb/dark-honeycomb.png");
	
}

.gallery {
  width: 100%;
  padding: 100px 0;
  float: left;
  background-color: #000000;
}

.row{
  float: left;
  margin-bottom: 20px;
}

.box-grid h3{
  margin: 10px 10px 0 10px;
  color: #ffffff;
  font: 18pt 'Arial', sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
}

.box-grid p{
  padding: 0 10px;
  color: red;
  font-weight: bold;
  font: 10pt 'Arial' , sans-serif;
}

.box-grid{
  width: 300px;
  height: 260px;
  float: left;
  background: #161613;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.box-grid img{
 overflow:hidden;
  width: 300px;
  height: 380px;
	
	
}

.boxcaption{
  float: left;
  position: absolute;
  background-color: #000000;
  height: 100px;
  width: 100%;
  opacity: .8;
}

.box-grid a{
  color: #ffffff;
  text-decoration: none;
}

.captionfull .boxcaption{
  top: 260px;
  left: 0;
}

.caption .boxcaption{
  top:220px;
  left: 0;
}
.his-life,
.gallery,
.impact{
	width: 100%;
	}

.impact img{
	width:220px;
	height: 195px;
	padding: 20px 20px;
	overflow: hidden;
	border-radius: 75px;
	
}


.carousel-cell img{
  width: 30%;
  height: 220px;
  background: #ffffff;
  counter-increment: "carousel-cell";
  text-align: center;
}



.header{
  
width: 100%;
  height: 80px;
  top: 0;
  z-index: 500;
  padding: 15px 0 8px 0;
  background-color: #4D4D4D;
  float:left;
}

.header img{
float:left;

}

nav{
width:100%;
background-color: #4D4D4D;
  margin-top: 10px;
  float: right;
}

nav ul{
  list-style-type: none;
  text-align: right;
}

nav li{
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 900;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .1em;
  display: inline-block;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
}

nav li a:link{
  color: #DDA528;
  text-decoration:none;
}

nav li a:visited{
  color: #C35A4C;
  text-decoration:none;
}

nav li a:hover{
  color: #DDA528;
  text-decoration:none;
}

nav li a:active{
  color: #C35A4C;
  text-decoration:none;
}

/* Headroom */
.headroom{
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.headroom--pinned{
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.headroom--unpinned{
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}