.section {
  width: 100%;
  padding: 100px 0;
  float: left;
  background-color: #ffffff;
}
/* Hero Photo */
.hero-photo-container img{
 width: 100%;
 height:100%;
 display: block;
 position: relative;
}


.type-overlay {
 width: 100%;
 position: absolute;
 top: 250px;
 margin-top:250px;
 z-index: 5;
 text-align: center;
 text-transform: uppercase;
 
}
.home{
  margin-top: 77px;
}

.home,
.his-life,
.gallery,
.discography,
.career-history,
.impact,
.contact{
  width: 100%;
  padding: 100px 0;
}


.his-life, 
.gallery,
.impact{
	background: url("../images/dark-honeycomb/dark-honeycomb.png");
	width: 100%;
	}

.impact img{
	width:220px;
	height: 195px;
	padding: 20px 20px;
	overflow: hidden;
	border-radius: 75px;
	
}

header{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 500;
  padding: 15px 0 8px 0;
  background-color: #4D4D4D;
}

.branding{
  background: url(" ") no-repeat;
  width: 170px;
  height: 40px;
  float: left;
  text-indent: -999em;
}

.branding a:link {
  color: #56627A;
  text-decoration: none;
}

nav{
  margin-top: 10px;
  float: right;
}

nav ul{
  list-style-type: none;
  text-align: right;
}

nav li{
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 900;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .1em;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

nav li a:link{
  color: #091c5a;
  text-decoration:none;
}

nav li a:visited{
  color: #091c5a;
  text-decoration:none;
}

nav li a:hover{
  color: #ff6600;
  text-decoration:none;
}

nav li a:active{
  color: #ff6600;
  text-decoration:none;
}

/* Headroom */
.headroom{
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.headroom--pinned{
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.headroom--unpinned{
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}